<div class="row">
    <div class="col-md-12 general-block-decorator">
        <div class="row">
            <div class="col-md-12 title title-without-tabs">
                {intl d='scalapay.bo.default' l="Scalapay Configuration"}
            </div>
        </div>

        <div class="form-container">
            <div class="row">
                <div class="col-md-12">
                {form name="scalapay_configuration"}
                <form action="{url path="/admin/module/scalapay/configure"}" method="post">
                    {form_hidden_fields}

                    {include file = "includes/inner-form-toolbar.html"
                        hide_flags = true
                        page_url   = "{url path='/admin/module/Scalapay'}"
                        close_url  = "{url path='/admin/modules'}"
                    }

                    {if $form_error}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger">{$form_error_message}</div>
                            </div>
                        </div>
                    {/if}

                    <div class="row">
                        <div class="col-md-4">
                            <p class="title title-without-tabs">{intl d='scalapay.bo.default' l="Access to Scalapay Platform"}</p>
                            {render_form_field field="access_key"}
                            {render_form_field field="run_mode"}
                        </div>
                        <div class="col-md-4">
                            <p class="title title-without-tabs">{intl d='scalapay.bo.default' l="Payment configuration"}</p>
                            {render_form_field field="allowed_ip_list"}
                            {render_form_field field="minimum_amount"}
                            {render_form_field field="maximum_amount"}
                        </div>
                    </div>
                </form>
                {/form}
                </div>
            </div>
        </div>
    </div>
</div>
